--- DataBase ---
database/*
output/*
*.txt
assets/json/
Provisorios/*.xls*
# --- Python & Cache ---
__pycache__/
*.py[cod]
*$py.class
.meu_ambiente/
.venv/

# --- IDEs e Ferramentas ---
.vscode/
.idea/
.ipynb_checkpoints/
_jupyters/
*.ipynb
# --- outros ---
AUTO_WS/